* {
    border: "2px solid brown";
    color: brown;
    margin: 0;
    text-align: center;
    font-family: 'Brush Script MT', cursive;
}
body {
    background-color: black;
}
header {
        padding: "4vh";
        border: "4vh solid brown";
        font-size: "16vh";    
}
